body{
    margin: 0px;
}

/* Navbar */

.navbar{
    background-color:rgb(37, 45, 117);
}

/* Navbar - list elements */

#navbar-item-contact{
    float: right;
}

ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li{
    float: left;
    display: block;
    text-align: center;
    padding: 16px 20px;
    color: white;
}

li:hover{
    cursor: pointer;
    background-color: rgb(47, 167, 225);
}

/* Navbar - dropdown element */

.dropdown-content {
    position: absolute;
    display: none;
    margin: 16px -20px;
    min-width: 150px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 12px 20px;
    color: black;
    display: block;
    text-align:left;
    float: none;
}

.dropdown-content li:hover {
    background-color: rgb(49, 165, 229);
}